<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formgroup">
    <ion-list>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [formControl]="formgroup.controls['email']" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="email.hasError('required') && email.touched">*กรุณากรอกอีเมล</p>
        <p id="err-msg" *ngIf="formgroup.controls['email'].errors && formgroup.controls['email'].dirty">*กรุณาใส่อีเมลของโรงพยาบาล เช่น <br>(อีเมล@suksawathospital.com)</p>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [formControl]="formgroup.controls['password']" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="password.hasError('required') && password.touched">*กรุณากรอกรหัสผ่าน</p>
        <p id="err-msg" *ngIf="formgroup.controls['password'].errors && formgroup.controls['password'].dirty">*รหัสผ่านประกอบด้วยตัวอักษรหรือตัวเลขอย่างน้อย 6 ตัวอักษร</p>
      </div>

    </ion-list>
    <button ion-button full color="primary" [disabled]="!formgroup.valid" (click)="register(user)">
      <ion-icon name="person-add"></ion-icon> Register</button>
  </form>
</ion-content>