<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>ชื่อ-นามสกุล</ion-label>
      <ion-input type="text" #newName></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>ตำแหน่ง</ion-label>
      <ion-input type="text" #newPosition></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>แผนก</ion-label>
      <ion-select [(ngModel)]="department" >
        <ion-option *ngFor="let list of departlists" value="{{list.val}}">{{list.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>หมายเลขโทรศัพท์มือถือ</ion-label>
      <ion-input type="text" #newMobile></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked text-wrap>วันที่เริ่มงาน (โดยประมาณ)</ion-label>
      <ion-datetime displayFormat="MM YYYY" min="1990-01" max="2018-12" [(ngModel)]="startdate"></ion-datetime>
    </ion-item>
    <form [formGroup]="formgroup">
      <ion-item>
        <ion-label floating>อีเมล</ion-label>
        <ion-input type="email" [formControl]="formgroup.controls['email']" [(ngModel)]="user.email" #newEmail></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="email.hasError('required') && email.touched">*กรุณากรอกอีเมล</p>
        <p id="err-msg" *ngIf="formgroup.controls['email'].errors && formgroup.controls['email'].dirty">*กรุณาใส่รูปแบบอีเมลที่ถูกต้อง</p>
      </div>

      <ion-item>
        <ion-label floating>รหัสผ่าน</ion-label>
        <ion-input type="password" [formControl]="formgroup.controls['password']" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div padding>
        <p id="err-msg" *ngIf="password.hasError('required') && password.touched">*กรุณากรอกรหัสผ่าน</p>
        <p id="err-msg" *ngIf="formgroup.controls['password'].errors && formgroup.controls['password'].dirty">*รหัสผ่านประกอบด้วยตัวอักษรหรือตัวเลขอย่างน้อย
          6 ตัวอักษร</p>
      </div>
    </form>
  </ion-list>
  <button ion-button full color="primary" [disabled]="!formgroup.valid" (click)="register(user,newName.value,newPosition.value,department,newMobile.value,newEmail.value)">
    <ion-icon name="person-add"></ion-icon> สมัครสมาชิก</button>

</ion-content>